@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Evidencija Predmeta</h1>
    <p>
        Broj Studenata:
    @ViewBag.ListLength
    </p>
    <ul>
        @foreach (var student in ViewBag.Studenti)
        {
            <li>Ime: @student.Ime Prezime: @student.Prezime Broj Dolazaka: @student.BrojDolazaka</li>
if (student.BrojDolazaka < 8)
            {
                @: Potpis: Ne
            }
            else
            {
                @: Potpis: Da
            }
        }
    </ul>
</div>
